<% layout('/layouts/boilerplate') %>

<style>
  a{
    font-size: 14px;
  }
</style>

<div class="row">
  <div class="col-8 col-md-6 offset-2 offset-md-3">
    <h1 class="my-2">Login</h1>
    <form action="/login" method="post" class="needs-validation" novalidate>
      <div class="mt-1">
        <label for="username" class="form-label">Username: </label>
        <input type="text" id="username" name="username" class="form-control" required>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mt-1">
        <label for="password" class="form-label">Password: </label>
        <input type="text" id="password" name="password" class="form-control" required>
      </div>
      <button class="btn btn-success mt-2">Login</button>
      <br> <br>
      <a href="http://localhost:8080/listings">Skip</a>
    </form>
  </div>
</div>